
<html>
    <head>
    <title>Home</title>
    </head>
    
    <body>
    <H1>THIS IS HOME PAGE</H1>
    <p>thi is all ncats: <%= cats %></p>
<ul>
    <% for(let cat of cats){ %>
        <li><%=  cat  %></li>
    <%  }  %>

</ul>
    </body>
    
    </html>
    