<html>
<head>
<title>Add</title>
</head>

<body>
<h1>Add Product:</h1>

<form action="/products" method="POST">
    <label for="Name">Name</label>
    <input type="text" name="name" id="name" placeholder="product name">
    <label for="price">Price</label>
    <input type="number" name="price" id="price" placeholder="price">
    <select name="category" id="category">
        <option value="fruit">fruit</option>
        <option value="vegetable">vegetable</option>
        <option value="dairy">dairy</option>
    </select>
    <button>Submit</button>
</form>


</body>

</html>