<html>
<head>
<title>Comment Index</title>
</head>

<body>
<h1>Comments:</h1>

<ul>
    <% for(let c of comments) {  %>
    <li><%= c.comment  %> - <%= c.username  %>
    <a href="/comments/<%= c.id %>">details</a>
    </li>

    <% }  %> 
</ul>

<a href="/comments/new">Add New </a>
</body>

</html>